html
  script.
    window.onload = function() {
      console.log('loaded')
    }
  script(src="a.js")
  script
    include a.js
  body
    div(style={width:'100px',height:'200px'})
    div(style="width:100px;height:200px")
    div(class="btn btn-primary")
    div(class=['btn', 'btn-primary'])
    div(title="document",id="zhangsan")
    div&attributes({title:'zhangsan',id:'divs'})