html
  head 
  body
    -for(var i=0;i<arr.length;i++)
      div=arr[i]
    div
      -var a=10;
      -if(a%2==0)
        div(style={background:'red'}) 偶数
      -else
        div(style={background:'green'}) 奇数
    div
      -var a=2;
      case a
        when 0
          div aaa
        when 2
          div 222
        when 3
          div ccc
        default
          不靠谱

